<article class="applicationsMaximized">
    <header>
        <h2>Business Applications Maximized</h2>
    </header>
    <main>
        <p class="lead">
            Softtek is a global provider of technology services and solutions, helping clients to thrive in the digital
            era.
        </p>

        <p>
            Softtek helps clients improve time-to-business-solution, eliminate complexity of existing IT platform,
            deliver
            better engineered and tested solutions, and produce predictable outcomes for top-tier corporations to and
            from
            the Americas.
        </p>
        <aside>
            <iframe id="stk-corporate-vid" class="center-block hidden-xs"
                    src="//www.youtube.com/embed/gW7qtUP5gWg?wmode=transparent" frameborder="0"
                    allowfullscreen="true" wmode="Opaque"></iframe>
        </aside>
    </main>
</article>