<h2 class="nimble">
    How nimble is your IT vendor portfolio?
</h2>
<div id="portfolio">
    <article class="container application-providers">
        <header>
            <h3>
                Are your application service providers delivering tangible business results?
            </h3>
        </header>
        <main>
            <ul>
                <li>Can you establish performance driven vendor-partner relationships?</li>
                <li>Can you ensure predictability of vital application process behavior?</li>
                <li>Do you have top-of-the-line performance in all phases of the application lifecycle?</li>
            </ul>
        </main>
    </article>

    <article class="container compliance-and-sourcing">
        <header>
            <h3>
                How well is your organization balancing risk & regulatory compliance?
            </h3>
        </header>
        <main>
            <ul>
                <li>
                    How much of your project portfolio is concentrated into 1 or 2 vendors? How much is concentrated
                    into a
                    single country?
                </li>
                <li>
                    Can your managers initiate impromptu conversations w/ their service provider teams? Or every
                    conversation
                    needs to be planned?
                </li>
            </ul>
        </main>
    </article>

    <article class="container rate-of-change">
        <header>
            <h3>How is your sourcing model responding to the rate of business technology change?</h3>
        </header>
        <main>
            <ul>
                <li>How do you measure your IT partner's performance? By service level agreements or timesheets?</li>
                <li>How much the IT budget still goes to keeping the lights on? What % of your budget can you allocate
                    to
                    innovation & business growth projects?
                </li>
                <li>How lean & effective is your current structure to test & deploy cloud-based or mobile solutions?
                </li>
            </ul>
        </main>
    </article>

    <article class="container full-potential">
        <header>
            <h3>Are you realizing the full potential of the Americas?</h3>
        </header>
        <main>
            <ul>
                <li>
                    Are you able to allocate the service where it makes the most sense for your business, not your
                    vendor's?
                </li>

                <li>
                    Can your IT partners support market expansion in the thriving LatAm markers?
                </li>

                <li>
                    Do you have the right blend of global competitiveness & local knowledge?
                </li>
            </ul>
        </main>
    </article>
</div>