.applicationsMaximized
  & header
    color: white
    background-color: #3f1e46
    padding-top: 15px
    padding-bottom: 15px
    h2
      margin-bottom: 30px
      padding-left: 12%
  & main
    background-color: white
    padding-left: 12%
    padding-right: 16%

@media (max-width: $landscapeWidth)
  .applicationsMaximized
    & header
      text-align: center
    & main
      text-align: center
      padding: 5px

@media (max-width: $portraitWidth)
  .applicationsMaximized
    & header
      text-align: center
    & main
      text-align: center
      padding: 5px