.applicationsMaximized
  & header
    font-face: $title-font
    color: white
    background-color: #3f1e46
    padding-top: 15px
    padding-bottom: 15px
    h2
      margin-bottom: 30px
      padding-left: 12%
      font-family: $section-font
  & main
    font-face: $body-copy-font
    background-color: white
    padding-left: 12%
    padding-right: 16%
    font-family: $body-copy-font

@media (max-width: $phone-landscape)
  .applicationsMaximized
    & header
      text-align: center
    & main
      text-align: center
      padding: 0px

@media (max-width: $tablet-landscape)
  .applicationsMaximized
    & header
      text-align: center
      & h2
        margin-left: 0px
        padding-left: 0px
    & main
      text-align: center
      padding: 5px