body
  padding: 80px

.logo
  text-indent: -9999px
  background: url("/img/logo.png") no-repeat
  background-size: 72.85px 47px
  margin-top: 10px

main.content
  padding-bottom: 80px

.navbar-nav > li
  text-align: center
  font-size: 1.3em
  font-weight: 500
  padding: 35px 15px 15px 15px

.menu-items
  display: block
  margin-left: auto
  margin-right: auto
  
#menuNav
  background-color: #ffffff