$section-font: 'Oswald', sans-serif
$title-font: 'Doppio One', sans-serif
$body-copy: 'Bree Serif', serif

$landscapeWidth: 480px
$portraitWidth: 767px
$desktopWidth: 1200px

@import url(http://fonts.googleapis.com/css?family=Oswald:400,700|Doppio+One|Bree+Serif)

body
  padding: 60px 0px 80px 0px
  background-color: white

.container-fluid
  padding-left: 0px
  padding-right: 0px

.logo
  text-indent: -9999px
  background: url("/img/logo.png") no-repeat
  background-size: 72.85px 47px
  margin-top: 10px

#stk-corporate-vid
  width: 40%
  height: 400px
  max-height: 400px

@import "nav"
@import "main"
@import "application-providers"

// Portrait tablet to landscape and desktop
// @media (min-width: 768px) and (max-width: 979px)

// Desktop
// @media (min-width: 1200px)